*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
html{
    scroll-behavior: smooth;
}
/* variable de colores para la pagina */
:root{
--color-widt-class:#F6F6F6;
--color-b-class:#111111;
--color-g-class:#2F2F2F;
--golden-color:#D7A149;
--golden-text:#EBC78E;
}
body{
    font-family: 'Anton', sans-serif;
}
header{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    background: var(--color-b-class);
}
.header section{
    position: absolute;
    width: 5px;
    height: 5px;
    box-shadow: 1px 1px 5px rgba(0,0, 0, .3);
    border-radius: 5px ;
    transition: 5s;
}
header nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: rgb(5, 0, 0);
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    width: 90%;
    height: 100%;
}
nav li{
    display: inline-block;
}
nav a{
    text-decoration: none;
    color: #D7A149;
}
nav .nav-var{
    font-size: 1.6rem;
    font-weight: 100;
    line-height: normal;
    z-index: 1;
}
header .social-nav{
    display: flex;
    justify-content: end;
    padding:20px 20px 0 0;
    width: 100%;
    height: 100px;
    z-index: 1;
}
ul{
    display: flex;
    list-style: none;
}
.social-nav ul li span{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 5px;
    z-index: 1;
}
.facebook{

    z-index: 1;
    background-image: url("../imagenes/facebook2.png");
}
.whatsapp{

    z-index: 1;
    background-image: url("../imagenes/whatsapp1.png");
}
.twitter{

    z-index: 1;
    background-image: url("../imagenes/twitter1.png");
}
.instagram{

    z-index: 1;
    background-image: url("../imagenes/instagram1.png");
}
.nav-info{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}
.nav-info .container-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
}.container-info h1{
    font-size: 3rem;
    font-weight: 500;
    color: var(--golden-text);
    z-index: 1;
}
.container-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--golden-text);
    z-index: 1;
}
.container-text-contennido p{
    font-size: 1.6rem;
    margin: 10px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0 0;
    width: 100%;
    height: auto;
    background: var(--color-g-class);
}
main .section-personal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}
.text-personal{
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
} 
.container-text-titulo h1{
    text-align: center;
    font-size: 2.6rem;
    font-weight: 100;
    font-style: normal;
    color: var(--golden-color);

}.container-text-titulo h2{
    text-align: center;
    font-size: 2rem;
}
.section-personal .img-user{
    margin: 30px 0 0 10px;
    width: 150px;
    height: 150px;
    background-image: url("../imagenes/WhatsApp\ Image\ 2023-07-14\ at\ 3.52.52\ PM.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
main .section1{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    width: 100%;
    height: 410px;
    background: #EBC78E;
}
.titulo{
    margin-top: 40px ;
    margin-bottom: 40px;
}
.titulo h1{
    font-size: 3rem;
    text-align: center;
    color: var(--color-b-class);
}
.section1 .section-portafolio{
    display: flex;
    overflow-y: scroll;
    width: 100%;
    height: 410px;
}.conatiner-portafolio{
    display: flex;
}
.section-portafolio .cart-port{
    width: 300px;
    height: 400px;
    margin: 5px;
    background: #D7A149;
}
.section2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}.container-de-habilidades{
    width: 90%;
    height: auto;
}
.container-de-habilidades .habilidad1{
    width: 60px;
    height: 60px;
    border: none;
    background-color:var(--golden-text);
    background-image: url('../imagenes/js.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .3 cubic-bezier(0.39, 0.575, 0.565, 1);
    cursor: pointer;
}
.habilidad1 :active{
    transform: scale(.93);
}
.conatiner-info-habilidad{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0 0 0 ;
    display: none;
    z-index: 2;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgba(255,255, 255, 0.3);
    width: 100%;
    height: 100%;
}
.container-modal{
    position: relative;
    background-color: white;
    width: 90%;
    height: auto;
    padding: 15px;
    border-radius: 8px;
    animation-name: modal;
    animation-duration: .7s;
    box-shadow: 0  5px 15px -5px rgba(0,0, 0, .4) ;
    z-index: 10;
}
@keyframes modal{
    from{
        transform: translateY(50vh);
    }
    to{
        transform: translateY(0);
    }
}
.close{
    transition: transform 1s cubic-bezier(0, -0.42, 1, -0.42);
    transform: translateY(60vh);
}
.conatiner-info-habilidad .container-imagen-diploma{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.container-imagen-diploma img{
    width: 100%;
    min-width: 300px;
    max-width: 700px;
}
.boton-close{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background: transparent;
    background-image: url('../imagenes/x.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

